{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    {% if not user_unknown %}
        <h1>Hello, {{ current_user.username }}!</h1>
    {% endif %}
    {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
    {% endif %}
    {% for mapdrop in mapdrops %}
        {% include "_mapdrop.html" %}
    {% endfor %}
    {% if prev_url or next_url %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Prev
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    <span aria-hidden="true">&rarr;</span> Next
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
{% endblock %}

