{% extends "base.html" %}

{% block app_content %}
    <h1>User: {{ user.username }}</h1>
    {% if user.last_seen %}
    <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Total</th>
                <th scope="col">Remaining</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td align="center">Map:</td>
                <td>{{ maps }}</td>
                <td>{{ maps }}</td>
            </tr>
            <tr>
                <td align="center">Gold:</td>
                <td>{{ gold_maps }}</td>
                <td>{{ gold_maps }}</td>
            </tr>
            <tr>
                <td align="center">Rouge:</td>
                <td>{{ rouges }}</td>
                <td>{{ rouges }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    {% for mapdrop in mapdrops %}
        {% include "_mapdrop.html" %}
    {% endfor %}
    {% if prev_url or next_url %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Prev
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    <span aria-hidden="true">&rarr;</span> Next
                </a>
            </li>
        </ul>
    </nav>
    {% endif %}
{% endblock %}
